$font-main-content: 'Maven Pro', sans-serif;
$font-main-title: 'Roboto', sans-serif;
$font-main-mono: 'Roboto Mono', monospace;

$color-main-background: #222;
$color-main-foreground-dark: #e1e1e1;
$color-main-foreground-light: #ccc;
$color-main-highlight: #e66000;

$color-side-bid: #00B56E;
$color-side-bid-light: #127B57;
$color-side-ask: #E55541;
$color-side-ask-light: #824243;
